:root {
	--pozadi: lightskyblue;
	--score: red;
}

html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: var(--pozadi);
	background-repeat: repeat;
	background-image: url('obrazky/pozadi/weather.png');
	/*background-image: url('obrazky/pozadi/geometry.png');

	/*  vyzkoušej i jiná pozadí :)
	background-image: url('obrazky/pozadi/round.png');
)	background-image: url('obrazky/pozadi/whirlpool.png');
	background-image: url('obrazky/pozadi/weather.png');
	background-image: url('obrazky/pozadi/swirl.png');
	background-image: url('obrazky/pozadi/seigaiha.png');
	background-image: url('obrazky/pozadi/hypnotize.png');
	*/
}

#score {
	position: absolute;
	top: 50px;
	left: 50px;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 36px;
	z-index: 999;
	color: var(--score);
}

#mince {
	position: absolute;
}

#panacek {
	z-index: 1;
	position: absolute;
}

.schovatMinci {
	display: none;
}

.vitez {
	background-image: url('obrazky/pozadi/geometry.png');
	position: absolute;
	z-index: 2;
	width: 400px;
	height: 200px;
	top: calc(50% - 100px);
	left: calc(50% - 200px);
	display: none;
	box-shadow: 5px 5px #888888;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}

button {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: block;
	background-color: pink;
	width: 300px;
	height: 50px;
	margin: 50px 50px;
}



